.modalContainer {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}

.emailModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  top: 34%;
  left: 11%;
  width: 80%;
  border-radius: 5px;
  z-index: 4;
  background-image: url('/images/backgrounds/dialog-background.jpeg');
  background-size: cover;
}

.emailModal > p {
  margin-bottom: 20px;
  z-index: 4;
}

.emailModal > input {
  padding: 5px;
  z-index: 4;
  margin-bottom: 2px;
  border-radius: 5px;
  border: 1px solid black;
}

.emailModal > button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30%;
  z-index: 4;
  border: none;
  margin-top: 20px;
  background: none;
  color: inherit;
}

.emailModal > button:disabled {
  color: gray;
}

.emailModal > span {
  color: red;
  font-size: 10px;
}

.restrictHight {
  height: 100vh;
  top: 0;
  margin-top: -10vh;
}

@media only screen and (min-width: 1000px) {
  .emailModal {
    width: 40%;
    left: 30%;
  }
}
