.container {
  min-height: 100vh;
  min-width: 100vw;
}

.background {
  background-image: url('/images/howlround.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
