.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 90vh;
}

.productContainer {
  display: grid;
  align-items: center;
  width: 100vw;
  height: 20vh;
  grid-template-columns: repeat(4, 30% 40% 20% 10%);
}

.imageContainer {
  position: relative;
  width: 100px;
  height: 100px;
}

.detailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkoutButton {
  border-radius: 5%;
  border: 1px solid #ed7575;
  color: #ed7575;
  background-color: white;
  font-family: 'Eina01-Light';
  padding: 3px;
  width: 30%;
}
