.container {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
}

.productContainer {
  display: grid;
  align-items: center;
  width: 100vw;
  height: 20vh;
  font-size: 18px;
  grid-template-columns: repeat(5, 30% 35% 20% 15%);
}

.imageContainer {
  position: relative;
  width: 24vw;
  height: 24vh;
}

.imageContainer > img {
  padding: 5px;
}

.detailsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.detailsContainer > p {
  font-size: 24px;
}

.checkoutButton {
  border: none;
  margin-top: 60px;
  background: none;
  font-size: 52px;
  color: rgb(44, 245, 44);
  font-weight: 400;
  padding: 3px;
  width: 100%;
}
