.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10% 30% 0 20%;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ed7878;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #ed7878;
}
