@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SyneMono';
  background: black no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #ed7878;
  text-decoration: none;
}

p {
  color: #ed7878;
}

@font-face {
  font-family: 'SyneMono';
  src: url(/fonts/SyneMono-Regular.ttf);
}
