html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SyneMono';
  background: url('/images/howlround.gif') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'SyneMono';
  src: url(/fonts/SyneMono-Regular.ttf);
}
