.orderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.productWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vw;
  width: 75%;
  color: #ed7878;
}

.productDetails {
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
}

.nameWarpper {
  font-size: 24px;
}
