.container {
  display: flex;
  flex-direction: column;
  min-height: 94vh;
}

.shopContainer {
  min-height: 94vh;
}

.product {
  display: block;
  position: relative;
  width: 100vw;
  height: 48vh;
}

.product > img {
  padding: 30px;
}

.productDetails {
  margin-top: -50px;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.productDetails > p:first-child {
  margin-top: 40px;
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 20px;
}

.productDetails > p:nth-child(2) {
  margin-bottom: 20px;
}

.modalContainer {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  min-height: 120vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.emailModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  top: 40%;
  width: 80%;
  background-color: white;
  border-radius: 5px;
}

.emailModal > p {
  margin-bottom: 10px;
}
